.aboutsik { transform: scale(0); 
    color: #FFF;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: -20px; bottom: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 30px 40px;
    background-color: black;
    row-gap: 0px;
    cursor: pointer;
}
.scale2:hover {
    transform: scale(0);
    animation: notactive 0.7s ease;
    transition: 0.7s;
}
@media (max-height: 100%) {
    .aboutsik {
        .close {
            border-radius: 35px;
            font-size: 30px;
            padding: 20px;
            max-width: 170px;
        }
        font-size: 35px;
    }
}
@media (max-width: 584px) {
    .aboutsik { 
        .close {
            font-size: 12px; max-width: 70px;
        }
        font-size: 13px; row-gap: 0px;
    }
}
@media (max-width: 545px) {
    .aboutsik { 
        .close {
            font-size: 11px; max-width: 70px;
        }
        font-size: 12px; row-gap: 0px;
    }
}
@media (max-width: 465px) {
    .aboutsik { 
        .close {
            font-size: 9px; max-width: 56px; padding: 3px; 
        }
        font-size: 10px; row-gap: 0px;
    }
}
@media (max-width: 384px) {
    .aboutsik { 
        .close {
            font-size: 7px; max-width: 45px; padding: 3px; 
        }
        font-size: 8px; row-gap: 0px; margin-top: -5px; margin-left: -10px;
    }
}
@keyframes active1 {
    0% {
          transform: translateX(-1000px);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes notactive {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-1000px);
        }
      }
.scale1 {
    transform: scale(1);
    animation: active1 0.4s ease;
    transition: 0.4s;
}
.close { padding: 5px 5px 5px 5px;
    text-align: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    max-width: 90px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,111,1) 62%, rgba(255,0,202,1) 100%);
    border: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,111,1) 62%, rgba(255,0,202,1) 100%);
    border: rgb(2,0,36);
    cursor: pointer;
}
.aboutsik p:hover {
    color: blueviolet;
    transition: 0.3s ease;
}
.close:hover {
    color: blueviolet;
    transition: 0.3s ease;
}